.p {
  display: inline-block;
  font-size: 14px;
  background-color: #eee;
  height: auto;
  width: auto;
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
  /* margin-bottom: 10px; */
  border: 1px solid #ccc;
  cursor: default;
}

