.li {
  font-size: 16px;
  height: auto;
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  list-style: none;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.nav-link {
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 10px;
}

.chosen {
  font-style: italic;
  color: green;
}
