.button {
  width: 80px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  margin: 20px 0;
  border: 1px solid #444;
}

.controlsContainer {
  display: flex;
  font-size: 16px;
  justify-content: center;
  gap: 20px;
  background-color: azure;
}

.separator {
  margin: 20px 0;
  border-top: 1px solid #444;
}

.section {
  font-size: 22px;
  padding-left: 20px;

  height: calc(100vh - 8rem);
}

p {
  margin: 0;
}
