.li {
  font-size: 1.1rem;
  height: auto;
  width: fit-content;
  text-align: left;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  margin-left: 2rem;
  list-style: none;
}

.directory {
  display: block;
  position: relative;
  color: #222;
}

.directory::before {
  content: "";
  position: absolute;
  background: url("../../asserts/img/icons/directory.svg");
  background-size: 2rem 2rem;
  width: 2rem;
  height: 2rem;
  margin-left: -2.2rem;
  margin-top: -0.2rem;
}

.chosen {
  font-style: italic;
  color: blue;
}

.chosen::before {
  content: "";
  position: absolute;
  background: url("../../asserts/img/icons/directoryOpen.svg");
  background-size: 2rem 2rem;
  width: 2rem;
  height: 2rem;
  margin-left: -2.2rem;
  margin-top: -0.2rem;
}
