.li {
  font-size: 16px;
  height: auto;
  width: fit-content;
  text-align: left;
  margin-top: 10px;
  margin-left: 35px;
  margin-bottom: 10px;
  list-style: none;
}

.directory {
  display: block;
  color: #222;
}

.directory::before {
  content: "";
  position: absolute;
  background: url("../../asserts/img/icons/directory.svg");
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  margin-left: -35px;
  margin-top: -4px;
}

.chosen {
  font-style: italic;
  color: blue;
}

.chosen::before {
  content: "";
  position: absolute;
  background: url("../../asserts/img/icons/directoryOpen.svg");
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  margin-left: -35px;
  margin-top: -4px;
}
