.main {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 80vh;
}

@media (max-width: 60rem) {
  .main {
    grid-template-columns: 2fr 2fr;
  }
}

@media (max-width: 40rem) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
