.notesList {
  display: inline-block;
  font-size: 1.2rem;
  height: 30vh;
  overflow-y: auto;
}

.ul {
  padding-left: 0;
  text-align: left;
}

.ul li {
  display: inline-block;
}

@media (max-width: 40rem) {
  .notesList {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}
