.notesList {
  display: inline-block;
  font-size: 1.2rem;
  overflow-y: auto;
  overflow-x: auto;
  margin-top: 1.25rem;
}

.ul {
  padding-left: 0;
  text-align: left;
}

.ul li {
  display: inline-block;
}
