.container {
  border-top: 1px solid #ddd;
  padding: 20px;
}

.output {
  display: flex;
  flex-direction: row;
  height: 26px;
  gap: 10px;
  width: 90%;
  margin: 0 20px 0 20px;
  font-size: 16px;
  align-items: baseline;
}

.output label {
  font-style: italic;
}
