.notesList {
  font-size: 18px;
  height: 260px;
  border-top: 1px solid #ddd;
  overflow-y: auto;
  overflow-x: auto;
}

.ul {
  margin: 20px;
  padding-left: 0;
  text-align: left;
}

.ul li {
  display: inline-block;
}
