.controlsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.controlsContainer button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: flex-start;
  align-items: stretch;
  margin: 20px;
}

.title {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

.input input {
  flex: 1;
}
