.notecard {
  font-size: 16px;
  height: 80px;
  width: 60px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  list-style: none;
  border: 1px solid #eee;
}

.saveButtonStyle {
  font-size: 12px;
}

.note {
  display: block;
  padding-top: 44px;
  position: relative;
  height: 44px;
  width: 40px;
  /* border: 1px solid #eee; */
}

.note::before {
  content: "";
  background: url("../../icons/note.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 50px;
  width: 42px;
  margin-left: -25px;
  margin-top: -46px;
}

.chosen {
  font-style: italic;
  color: green;
}

.chosen::before {
  box-sizing: border-box;
  content: "";
  background: url("../../icons/noteOpen.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 50px;
  width: 42px;
  margin-left: -25px;
  margin-top: -46px;
}

.title {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

.input {
  display: flex;
  width: 60%;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  margin: 0 20px;
}

.input p {
  font-style: italic;
}

.controlsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.controlsContainer button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80px;
}
