.notecard {
  font-size: 16px;
  height: 90px;
  width: 70px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #eee;
}

.note {
  display: block;
  position: relative;
  padding-top: 50px;
  background-color: #eee;
}

.note::before {
  content: "";
  background: url("../../asserts/img/icons/note.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 50px;
  width: 42px;
  margin-left: -25px;
  margin-top: -46px;
}

.chosen {
  font-style: italic;
  color: green;
}

.chosen::before {
  box-sizing: border-box;
  content: "";
  background: url("../../asserts/img/icons/noteOpen.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 50px;
  width: 42px;
  margin-left: -25px;
  margin-top: -46px;
}

.inLineEditButtonStyle {
  display: inline;
  font-size: 12px;
}
