.title {
  font-size: 18px;
  text-align: center;
  margin: 20px 0px 20px 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.input {
  display: flex;
  flex-direction: row;
  height: 26px;
  gap: 10px;
  width: 90%;
  margin: 0 20px 0 20px;
  font-size: 16px;
  /* border: 1px solid #ddd; */
  align-items: baseline;
}

.input label {
  font-style: italic;
}
