.li {
  font-size: 16px;
  height: auto;
  text-align: center;
  margin: 10px;
  /* margin-bottom: 10px; */
  list-style: none;
  /* border: 1px solid #ddd; */
}

.note {
  display: block;
  padding-top: 34px;
  position: relative;
  height: 50px;
}

.saveButtonStyle {
  font-size: 12px;
}

.easyEditClass:active {
  width: 50px;
  height: auto;
  background-color: aquamarine;
}

.note::before {
  content: "";
  background: url("../../icons/note.svg");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -40px;
}

.chosen {
  font-style: italic;
  color: green;
}

.chosen::before {
  content: "";
  background: url("../../icons/noteOpen.svg");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -40px;
}
