.container {
  display: flex;
  width: auto;
  gap: 10px;
  font-size: 16px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  text-align: left;
  align-items: center;
  height: 80px;
}

.container div {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin: 0 !important;
}

.flexContainer {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.flexContainer input {
  height: 20px;
}
