.container {
  display: flex;
  font-size: 1rem;
  flex-wrap: wrap;
  width: auto;
  gap: 0.75rem;
  text-align: left;
  align-items: center;
}

.container div {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin: 0 !important;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 0.25rem;
}

.flexContainer input {
  height: 1.25rem;
}
